.applications-menu-toggle-switch {
    padding: 3px;
}

.applications-menu-toggle-switch:active {
    background-color: #4c4c4c;
}

.applications-menu-item-box {
    spacing: 6px;
}

.applications-menu-button-icon {
    icon-size: 1.7em;
}

.applications-menu-dialog-table {
    spacing-rows: 0.75em;
    spacing-columns: 2.5em;
}

.applications-menu-dialog-label {
    font-size: 10pt;
    color: white;
}

.applications-menu-dialog {
    border-radius: 16px;

    padding-right: 21px;
    padding-left: 21px;
    padding-bottom: 15px;
    padding-top: 15px;

    spacing: 2em;
}
